{% include "recipes/partials/head.html" %}
<body>
    <header class = "main-header-container">
        <div class="main-header container">
            <h1>
                <a class="main-logo" href="/" class="href">
                    <i class="fa-solid fa-apple-whole main-logo-icon"></i> 
                    <span class"main-logo-text">Receitas Fit</span>
                    <i class="fa-solid fa-apple-whole main-logo-icon-two"></i>
                </a>
            </h1>
          </div>        
    </header>
</body>
</html>
